<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Music Sandbox</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/tone-js">Tone.js</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" aria-disabled="true">Disabled</a>
				</li>
			</ul>

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li ngbDropdown #profileDropdown="ngbDropdown" [autoClose]="'outside'" class="nav-item dropdown ms-auto profile-dropdown">
					<a class="nav-link dropdown-toggle d-flex align-items-center" 
						ngbDropdownToggle
						id="userDropdown">
						<!-- User Icon SVG -->
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle me-1" viewBox="0 0 16 16">
							<path d="M11 10a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
						</svg>
						{{ userName || 'User' }}
					</a>
					<ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
						<li><a ngbDropdownItem class="dropdown-item" (click)="profileDropdown.close()">My Profile</a></li>
						<li>
							<a ngbDropdownItem>
								<div class="form-check" (click)="themeService.toggleTheme()">
									<input class="form-check-input" type="checkbox" value="" id="checkDefault" [checked]="themeService.getDarkMode()">
									<label class="form-check-label" for="checkDefault">
										Dark Mode
									</label>
								</div>
							</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li><a ngbDropdownItem class="dropdown-item" (click)="profileDropdown.close()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>